<app-nav></app-nav>

<h2>Pasarela de pago</h2>


<!-- @if (temporalOrderId) {
<section>
  <h2>Compra realizada con éxito</h2>
</section>
} -->

<!--

@if ( this.orderDetails.temporalProductOrder) {
<section class="m-4">
  <h2>Vas a comprar:</h2>
  @for (product of this.orderDetails.temporalProductOrder; track $index) {
    <img src="{{ IMG_URL }}{{ product.product.image }}" width="80px">
  <span class="font-bold">{{product.product.name}}</span>
  <br><br>
  <span >Cantidad: {{product.quantity}}   </span>
  <span class="m-4">   Precio total {{product.product.price/100 *product.quantity}}€ </span>
  <br><br>
  }
  <button (click)="embeddedCheckout()">Comprar</button>
</section>

}-->

<div id="checkout"></div>
<a href="/home" class="p-button font-bold m-2" style="border: 0px; background-color: #6F42C1; color: white; border-radius: 30px;">
  Volver a inicio
</a>
<!--
}

<dialog #checkoutDialog>
  <div id="checkout"></div>
  <button (click)="cancelCheckoutDialog()">Cancelar</button>
</dialog>


-->
<app-footer></app-footer>