h1{
    text-align: center;
    color: #004a8d;
}

hr{
    border: none;
    border-top: 3px dotted #999;
    height: 1px;
    margin: 20px 0;
    width: 50%;
    justify-self: center;
}

.container{
    margin: 1%;
}