<app-nav></app-nav>

<h1>Pasarela de pago</h1>


@if (sessionId) {
  <section>
    <h2>Compra realizada con éxito</h2>
  </section>
}
@else if (product) {
  <section>
    <h2>Vas a comprar esto:</h2>
    <img [src]="product.image">
    <h3>{{product.name}} {{product.price}}€</h3>
    <p>{{product.description}}</p>

    <button (click)="embeddedCheckout()">Comprar</button>
  </section>
}
  
<dialog #checkoutDialog>
  <div id="checkout"></div>
  <button (click)="cancelCheckoutDialog()">Cancelar</button>
</dialog>


<app-footer></app-footer>