<app-nav></app-nav>

<h1>Pasarela de pago</h1>

<div id="checkout">Cargando...</div>

@if (sessionId) {
  <section>
    <h2>Compra realizada con éxito</h2>
    <button (click)="reload()">Volver a comprar</button>
  </section>
}
@else if (product) {
  <section>
    <h2>Vas a comprar esto:</h2>
    <img [src]="product.image">
    <h3>{{product.name}} {{product.price}}€</h3>
    <p>{{product.description}}</p>

    <button (click)="hostedCheckout()">Comprar en página externa</button>
    <button (click)="embeddedCheckout()">Comprar embebido</button>
  </section>
}

<dialog #checkoutDialog>
  <div id="checkout"></div>
  <button (click)="cancelCheckoutDialog()">x</button>
</dialog>

<app-footer></app-footer>