################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Ecommerce/FileContentIndex/6bd4cd98-2b09-4d73-b515-80f809ac904a.vsidx
/.vs/Ecommerce/FileContentIndex
