.custom-menubar {
    background-color: white;
}

span {
    color: #75308a;
    font-weight: 400;
    font-size: larger;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

img:hover {
    /* transform: scale(0.95); */
    filter: drop-shadow(0px 4px 10px rgb(208, 223, 255));
}

.session-link {
    cursor: pointer;
}

button{
    border: 0px;
    background-color: #6f42c1;
    color: white;
    border-radius: 30px;
    padding: 15px;
    font-size: small;
    letter-spacing: 1px;
}

button:hover{
    cursor: pointer;
    background-color: #4d20a1;
}

.clickable {
    cursor: pointer;
  }
  

@media (max-width: 600px) {
    ng-template{
        display: flex;
        flex-wrap: wrap
    }
}
