<!-- NAVBAR MENU RESPONSIVE -->
<p-toast position="bottom-right" (onClose)="goToLogin()" life=1000/>
<p-menubar [model]="items" styleClass="custom-menubar">

    <!-- Logo Innovacom-->
    <ng-template pTemplate="start">
        <div class="logo-container">
            <img style=" height: 60px; margin-right: 5px;" src="logos/Logotipo_del_Ministerio_de_Educación_y_Formación_Profesional.webp" id="ministero"
                class="logo desktop-logo" alt="Logotipo del Ministerio de Educación y Formación Profesional">
            <img src="logos/gobierno-responsive.webp" alt="Logotipo del Gobierno de España" class="logo mobile-logo">

            <img src="logos/comunicat-icono.webp" class="logo" alt="Logotipo comunica-t">
        </div>

    </ng-template>

    <ng-template pTemplate="end">
        <div class="logo-container">

            <span class="medium vertical-align-middle lg:m-4" *ngIf="authService.isAuthenticated()">
                @if(user)
                {
                    ¡Hola, {{ user.name}}!
                }
            </span>

            <a routerLink="/cart" class="cart">
                <img src="icons/cart.webp" alt="carrito compra" class="vertical-align-middle" width="40px">
                <span>{{ cartProductCount }}</span>
            </a>

            <div *ngIf="authService.isAuthenticated()" style="cursor: pointer;" class="dropdown">
                <a>
                    <img src="icons/user-icon.webp" alt="icono-user" class="vertical-align-middle" width="40px"
                        class="user-icon vertical-align-middle clickable; cursor: pointer;">
                    <div class="dropdown-content">
                        <a [routerLink]="'/user-profile'">Perfil</a>
                        @if(user && user.role == "Admin")
                        {
                            <a [routerLink]="'/admin-profile'">Administración</a>
                        }
                        <a (click)="authClick()" class="logout-text">Cerrar Sesión</a>
                    </div>
                </a>
            </div>

            <a id="inicio-sesion" *ngIf="!authService.isAuthenticated()" class="session-link" (click)="authClick()">
                <button class="p-button font-bold ml-4 vertical-align-middle">Iniciar sesión</button>
            </a>
            <span style="float: right;">
                <img src="logos/logo junta.webp" alt="Logo Junta de Andalucía" class="logo desktop-logo">
                <img src="logos/Andalucía-responsive.webp" alt="Logo Junta de Andalucía" class="logo mobile-logo">
            </span>
        </div>


    </ng-template>

</p-menubar>