<p-menubar [model]="items" styleClass="custom-menubar">
    <ng-template pTemplate="start">
        <img height="30px" src="logo_oscuro.png" alt="Logo Innovacom" style="margin: 10px;"/>
    </ng-template>
    <ng-template pTemplate="end">
        <img src="icons/cart.png" alt="carrito compra" class="vertical-align-middle" width="40px" class="mr-1">
        <!-- Poner Variable de numero de productos en cesta-->
        <span>0</span> 
        <img src="icons/user-icon.png" alt="icono-user" class="vertical-align-middle" width="40px" class="mr-2 ml-4">
    </ng-template>
</p-menubar>

