<!-- NAVBAR MENU RESPONSIVE -->
<p-menubar [model]="items" styleClass="custom-menubar">

    <!-- Logo Innovacom-->
    <ng-template pTemplate="start">
        <img src="logo_oscuro.png" alt="Logo Innovacom" class="logo desktop-logo">
        <img src="innova-logo.png" alt="Logo Innovacom" class="logo mobile-logo">
    </ng-template>

    <ng-template pTemplate="end">
        <span class="vertical-align-middle lg:m-4" *ngIf="authService.isAuthenticated()">
            ¡Hola, {{ name }}!
        </span>

        <a routerLink="/cart">
            <img src="icons/cart.png" alt="carrito compra" class="cart vertical-align-middle" width="40px">
            <span>{{ cartProductCount }}</span>
        </a>

        <a>
            <img *ngIf="authService.isAuthenticated()" src="icons/user-icon.png" alt="icono-user"
                class="vertical-align-middle" width="40px" class="user-icon vertical-align-middle clickable"
                (click)="navigateToProfile()">
        </a>

        <a id="inicio-sesion" *ngIf="!authService.isAuthenticated()" class="session-link" (click)="authClick()">
            <button class="p-button font-bold ml-4 vertical-align-middle">Iniciar sesión</button>
            <!--<img src="icons/login.png" alt="icono-login" class="vertical-align-middle" width="40px" class="mr-2 ml-4">-->
        </a>
        <a *ngIf="authService.isAuthenticated()" class="session-link" (click)="authClick()">
            <img src="icons/logout.png" alt="icono-logout" width="40px" class="logout vertical-align-middle ">
        </a>

    </ng-template>

</p-menubar>