<!-- NAV BAR -->
<app-nav></app-nav>

<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-24rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">
        - MI PERFIL -
    </p>
</div>

<br><br>

<!-- User Info -->
<fieldset>
    <legend>Perfil de {{user.role}}</legend>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">

        <div class="profile-row">
            <label for="name">Nombre:
                <input type="text" [value]="user?.name" formControlName="name" [readonly]="!isEditing">
            </label>
        </div>
        <div class="profile-row">
            <label for="email">Correo:
                <input id="email" type="email" formControlName="email" [readonly]="!isEditing" [value]="user?.email" />
            </label>
        </div>
        <div class="profile-row">
            <label for="address">Dirección:
                <input id="address" type="text" formControlName="address" [readonly]="!isEditing"
                [value]="user?.address" />
            </label>
        </div>
        <div class="profile-row-buttons">
            <button type="button" [ngClass]="isEditing ? 'btn-edit' : 'btn-secondary'" class="btn btn-secondary"
                (click)="edit()">
                {{ isEditing? 'Cancelar edición' : 'Editar' }}
            </button>
            <button type="submit" class="btn btn-primary" [hidden]="!isEditing || userForm.invalid">
                Guardar Cambios
            </button>
        </div>
    </form>
</fieldset>

<fieldset>
    <Label>Contraseña: <input type="password" placeholder="***********" [readonly]="!isEditing"></Label>
    <button type="button" class="btn btn-secondary" style="float: right;" (click)="showEditPassword()"> Cambiar
        Contraseña </button>
</fieldset>

<div id="newPassword" [hidden]="isNewPasswordHidden">
    <fieldset>
        <form [formGroup]="passwordForm" (ngSubmit)="editPassword()">
            <label>Cambiar contraseña:</label>
            <br><br>
            <input type="password" formControlName="newPassword" required placeholder="Nueva Contraseña" />
            <br>
            <div class="error" *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">La contraseña debe
                tener mínimo 6 caracteres.</div>
            <br>
            <input class="icon-input" placeholder="Repetir contraseña" type="password"
                formControlName="confirmPassword" />
            <div class="error" *ngIf="passwordForm.get('confirmPassword')?.hasError(('mismatch'))  && passwordForm.get('confirmPassword')?.touched">Las contraseñas no coinciden.</div>
            <br>

            <button type="submit" [disabled]="passwordForm.invalid">Actualizar contraseña</button>
        </form>
    </fieldset>
</div>

<div class="container d-flex justify-content-between">

    <div class="user-list">
        <h3 class="list-title">Lista de usuarios</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acción</th>
            </tr>
            @for (user of users; track $index) {
            <tr>
                <td>{{user.userId}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <select name="Rol" [id]="user.userId" [(ngModel)]="user.role">
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                </td>
                <td>
                    <button class="edit-btn" (click)="modifyUserRole(user.userId, user.role)">✎Actualizar</button> | 
                    <button class="edit-btn" (click)="deleteUser(user.userId)">Eliminar</button>
                </td>
            </tr>
            }
        </table>
    </div>

    <div id="newProduct" [hidden]="isInsertProductHidden">
        <fieldset class="formularioProducto">
            <h3 class="new-product-title">Crear nuevo producto</h3>

            <form (ngSubmit)="insertProduct()" [formGroup]="newProductForm"><br>
                <input type="text" formControlName="productName" placeholder="Nombre" [(ngModel)]="insertProductName" /><br><br>
                <input type="number" formControlName="productPrice" placeholder="Precio"[(ngModel)]="insertProductPrice" /><br><br>
                <input type="number" formControlName="productStock" placeholder="Stock"[(ngModel)]="insertProductStock" /><br><br>
                <input type="text" formControlName="productDescription" placeholder="Descripción"[(ngModel)]="insertProductDescription" /><br><br>
                <input type="text" [placeholder]="rutaImgNewProduct" class="w-4" disabled><br><br>
                <input type="button" (click)="addImage()" value="Añadir imagen" id="addImageButton"><br><br>
                <button type="submit" [disabled]="newProductForm.invalid">Crear producto</button>
            </form>
        </fieldset>
    </div>

    <dialog #addEditDialog>
        <form [formGroup]="addOrEditForm" (ngSubmit)="createOrUpdateImage()">
            <label>
                Name:
                <input type="text" formControlName="name" />
            </label>
            <br>
            <label>
                Imagen:
                <input type="file" accept="image/png, image/jpeg, image/jpg" (change)="onFileSelected($event)" />
            </label>
            <br>
            <button type="button" (click)="closeDialog(addOrEditDialog)">Cancelar</button>
            <input type="submit" [disabled]="addOrEditForm.valid" />
        </form>
    </dialog>

    <div class="product-list">
        <h3 class="list-title">
            Lista de productos
            <button (click)="showInsertProductForm()">Nuevo producto</button>
        </h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acción</th>
            </tr>
            @for (product of products; track $index) {
                <tr>
                    <td>{{product.id}}</td>
                    <td> <img [src]="IMG_URL + product.image"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price/100}}€</td>
                    <td>{{product.stock}} uds.</td>
                    <td><button (click)="showEditProductForm(product)" class="edit-btn" >✎Edit</button></td>
                </tr>
            }
        </table>
    </div>
    
    @if (selectedProduct) {
        <div id="editProduct" [hidden]="isEditProductHidden">
            <fieldset class="formularioProducto">

                <h3 class="new-product-title">Editar producto</h3>
                <form (ngSubmit)="editProduct(selectedProduct.id)"> <br>

                    <input type="text" name="productName" placeholder="Nuevo nombre" [(ngModel)]="insertProductName" /> <br><br>
                    <input type="number" name="productPrice" placeholder="Nuevo precio" [(ngModel)]="insertProductPrice" /><br><br>
                    <input type="number" name="productStock" placeholder="Nuevo stock" [(ngModel)]="insertProductStock" /><br><br>
                    <input type="text" name="productDescription" placeholder="Nueva descripción"[(ngModel)]="insertProductDescription" /> <br><br>
                    <input type="file" accept="image/png, image/jpeg, image/jpg" name="productImage"[(ngModel)]="insertProductImage" /> <br><br>
                    <button (click)="editProduct(selectedProduct.id)">Confirmar cambios</button>
                
                </form>
            </fieldset>
        </div>
    }
</div>

<app-footer></app-footer>