/* 1ยบ block */
.panel-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/foto-gratis/fondo-placa-base_23-2151733789.jpg?t=st=1729794199~exp=1729797799~hmac=b66faa72f5783a4ba35b83db8f2e033939890d227b5e901bfd1d319ab6580538&w=740");
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    text-shadow: #12182e 0 0 1em;
    background-attachment: fixed;
}

.line-separator {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

h3{
    color: #004a8d;
    margin: 2% 5%;
}

fieldset {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    border: 1px solid #007acc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

legend{
    color: #004a8d;
    font-weight: bold;
    padding: 5px;
}

label {
    flex: 1;
    font-weight: bold;
    color: #004a8d;
    padding-right: 10px;
    position: relative;
}

input {
    flex: 2;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    color: #004a8d;
    border: 1px solid #007acc;
    border-radius: 4px;
    background-color: white;
    transition: border-color 0.3s ease;
}

.profile-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.profile-row-buttons{
    float: inline-end;
}

.profile-info {
    max-width: 600px;
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px;
    border: 1px solid #007acc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-label {
    flex: 1;
    font-weight: bold;
    color: #004a8d;
    text-align: right;
    padding-right: 10px;
    position: relative;
}

.profile-label::after {
    position: absolute;
    right: 5px;
    color: #004a8d;
}

.profile-input {
    flex: 2;
}

.profile-input input {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    color: #004a8d;
    border: 1px solid #007acc;
    background-color: #f0f8ff;
    transition: border-color 0.3s ease;
}

.profile-input input:focus {
    border-color: #004a8d;
    outline: none;
}

.error{
    color: rgb(201, 0, 0);
    font-size: x-small;
    margin: 5px;
}

button {
    padding: 8px;
    border: 0px;
    background-color: #875fd1;
    color: white;
    border-radius: 30px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #6f4caf;
}

button.btn-edit{
    background-color: rgb(209, 0, 0);
}

.container div{
    margin: 5% 0%;
}

.container{
    margin: 5%;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    text-align: left;
}

tr, td {
    padding: 1%;
}

th {
    background-color: #004a8d;
    color: white;
    padding: 1%;
}

table tr:nth-child(odd) {
	background: #e8fcff;
}
table tr:nth-child(even) {
	background: #f7f9ff;
}

table img {
    width: 50px;
}

.new-product-title{
    font-size: 25px;
}

.formularioProducto{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    padding: 3%;
    border: 2px solid #007acc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#addImageButton:hover{
    cursor: pointer;
}
