/* Estilo general para el contenedor del formulario */
h1 {
    text-align: center; 
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #333; 
  }
  
  /* Encabezado */
  header {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  header h2 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 700;
    color: #333; 
  }
  
  /* Sección del formulario */
  section {
    position: relative;
    width: 100%;
    max-width: 500px; 
    padding: 20px; 
    background-image: url(/public/FondoRegister.jpg); 
    background-size: cover;
    background-position: center;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    margin: 20px auto; 
    min-height: 300px; 
}
  
  /* Etiquetas y campos de entrada */
  label {
    display: block; 
    margin-bottom: 10px; 
    font-family: "Inter-Regular", Helvetica;
    font-weight: 600;
    color: #333; 
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
  }
  
  /* Estilo para mensajes de error */
  .error {
    color: red; 
    font-size: 14px; 
  }
  
  /* Estilo para el botón de envío */
  input[type="submit"] {
    background-color: #7461c7; 
    color: #ffffff; 
    padding: 12px 20px; 
    border: none;
    border-radius: 100px; 
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s; 
  }
  
  input[type="submit"]:hover {
    background-color: #5e47a1;
  }
  
  /* Estilo para el pie de página */
  footer {
    margin-top: 20px;
    text-align: center; 
    font-family: "Inter-Regular", Helvetica;
    color: #8b8b8b;
  }
  
  footer p {
    font-size: 14px; 
  }
  