<app-nav></app-nav>

<div class="panel-top h-24rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-5xl uppercase">Comunicación sin límites</p>
    <p class="m-auto text-white line-height-4">Tecnología que abre las puertas de la comunicación para todos</p>
</div>

<div class="w-10 h-auto card-container m-auto">
    <div class="m-auto card-advantage">
        <p class="text-2xl">
            <i class="pi pi-cog border-circle border-3 border-primary bg-primary m-2" style="font-size: xx-large;"></i>    
            La mejor <span class="text-primary font-bold line-height-2 ">Tecnología</span>
        </p>
        <p class=" line-height-3">Estamos comprometidos en hacer que la tecnología sea una herramienta poderosa para empoderar a quienes necesitan apoyo en su día a día. </p>
    </div>
    <div class="m-auto card-advantage">
        <p class="text-2xl">
            <i class="pi pi-sitemap border-circle border-3 border-primary bg-primary m-2" style="font-size: xx-large;"></i>    
            <span class="text-primary font-bold">Accesible</span> para todos
        </p>
        <p class=" line-height-3">Juntos, trabajamos para que cada persona pueda expresar sus pensamientos, emociones y necesidades, superando las barreras que la comunicación pueda imponer.</p>
    </div>
    <div class=" m-auto card-advantage">
        <p class="text-2xl">
            <i class="pi pi-sparkles border-circle border-3 border-primary bg-primary m-2" style="font-size: xx-large;"></i>    
            Creados para <span class="text-primary font-bold">ti</span>
        </p>
        <p class=" line-height-3">Nuestro equipo trabaja mano a mano con expertos y personas que enfrentan estos desafíos a diario, con el objetivo de crear productos que realmente marquen una diferencia.</p>
    </div>
</div>

<div class="h-24rem d-flex w-full panel-down">
    <p class="m-auto line-height-4 text-4xl font-bold">Comunica sin esfuerzo, tecnología diseñada para ti</p>
    <p class="m-auto line-height-4 font-bold">Estamos aquí para ayudarte</p>
    <a routerLink="/shop" class="p-button font-bold m-2" style="background-color: #D1DEFF; color: #305AA8;">
        Tienda
    </a>
</div>

<app-footer></app-footer>