<app-nav></app-nav>

<h2>Pago con blockchain</h2>

@if (isLoading) {
<div style="padding: 5%;">Cargando...</div>
}

@if (!isLoading) {
<section>
    <h3>Usted va a comprar: </h3>
    <section class="product-info">
        <ul>
            @for(product of this.orderDetails.temporalProductOrder; track product.productId) {
            <img src="{{ IMG_URL }}{{ product.product.image }}" width="80px" />
            <li>
                <b>{{product.product.name}}</b>
            </li>
            <p>Cantidad: {{product.quantity}} | Subtotal: {{product.product.price/100 * product.quantity}}€</p>
            <br>
            }
        </ul>
    </section>

    <section>
        <h4>Precio total: {{eurosToSend}}€</h4>
        <h4>Precio en Ethereum: {{priceInEth}}Eth</h4>
        <button (click)="createTransaction()">Crear transacción</button>
    </section>
</section>
}

<app-footer></app-footer>