/* Contenedor principal para la página de inicio de sesión */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background: linear-gradient(135deg, #182c53, #305aa8, #834ac8, #4b2b73);
  position: relative;
}

/* Estilo para el logo de la parte superior */
.logo {
  position: absolute;
  top: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
}

/* Tamaño del logo */
.logo img {
  width: 250px; 
  height: auto;
}

/* Caja de inicio de sesión */
.login-box {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
  padding: 2rem; 
  width: 300px; 
  text-align: center;
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  padding-bottom: 5px; 
}

/* Logo del usuario que aparece en la parte superior de la caja */
.user-logo {
  position: absolute; 
  top: -50px; 
  left: 50%; 
  transform: translateX(-50%); 
}

/* Tamaño y estilo del logo del usuario */
.user-logo img {
  width: 100px; 
  height: auto; 
  border-radius: 50%;
}

/* Estilo general para los párrafos */
p {
  color: white; 
}

/* Estilo para el título "Iniciar sesión" */
.iniciar {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* Margen inferior para cada campo de entrada */
.p-field {
  margin-bottom: 1rem;
}

/* Contenedor para los campos de entrada con iconos */
.icon-input-container {
  position: relative; 
  width: 100%;
}

/* Estilo para el icono dentro del campo de entrada */
.input-icon {
  position: absolute;
  top: 50%;
  left: 10px; 
  transform: translateY(-50%);
  color: gray;
  font-size: 1.2em;
}

/* Estilo para los campos de entrada */
.icon-input {
  width: 100%;
  padding: 10px 40px; 
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Estilo cuando el campo de entrada está enfocado */
.icon-input:focus {
  border-color: #fdbb2d;
  outline: none;
}

/* Estilo para el texto de registro */
.register-link p {
  font-size: 0.8em;
  white-space: nowrap;
  margin-top: 1rem;
  color: white;
}

/* Estilo para el enlace de registro */
.register-link a {
  color: #fdbb2d;
  text-decoration: none;
  font-weight: bold;
}

/* Estilo del enlace al pasar el cursor */
.register-link a:hover {
  text-decoration: underline;
}

/* Estilo para el botón de envío */
.p-button {
  border: 0px;
  background-color: #6f42c1;
  color: white;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
}

/* Estilos para el texto "Recuérdame" */
.remember-me-label {
  font-size: 14px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

/* Pantallas de hasta 480px */
@media (max-width: 480px) {
  .logo img {
    width: 150px;
  }

  .login-box {
    padding: 1rem;
    max-width: 90%;
  }

  .user-logo img {
    width: 70px;
  }

  .iniciar {
    font-size: 1.2em;
  }

  .submit-button {
    font-size: 0.9em;
  }
}