<app-nav></app-nav>

<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-12rem d-flex w-full">
  <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">
    - cesta -
  </p>
</div>

<div class="cart-container">
  <div class="cart-content">
    @if (cartProducts.length === 0) {
    <div class="empty-cart">
      <p>Tu carrito está vacío.</p>
    </div>
    } 
    @if (cartProducts.length > 0) { 
      @for (product of cartProducts; track $index) {
      <div class="cart-product">
        <img src="{{ IMG_URL }}{{ product.image }}" />

        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <p>{{ product.price / 100 }} €</p>

          <label>Cantidad: </label>
          <input
            type="number"
            class="input-quantity"
            [(ngModel)]="product.quantity"
            (ngModelChange)="changeQuantity(product, product.quantity)"
            min="1"
          />

          <button
            class="p-button-danger"
            label="Eliminar"
            (click)="removeProduct(product.productId)"
          >
            Eliminar
          </button>
        </div>
      </div>
    }

    <div class="cart-summary">
      <p>Total: {{ total | currency : "EUR" }}</p>
    </div>
    }
  </div>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
