<!-- NAV BAR -->
<app-nav></app-nav>

<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-20rem d-flex w-full">
  <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">
    - carrito -
  </p>
</div>

<div class="cart-container">
  <div class="cart-content">
    <h2>Carrito de Compras</h2>

    @if (cartProducts.length === 0) {
      <div class="empty-cart">
        <p>Tu carrito está vacío.</p>
      </div>
    }

    @if (cartProducts.length > 0) {
    <div>
      <div class="cart-product">
        @for (product of cartProducts; track $index) {
          <!--<img [src]="IMG_URL + product.image" alt="{{ product.name }}" />-->

          <div class="product-details">
            <h3>{{ product.name }}</h3>
            <!--<p>{{ product.description }}</p>-->
            <p>{{ product.price / 100 }} €</p>
  
            <label>Cantidad:</label>
            <input
              type="number"
              [(ngModel)]="product.quantity"
              (ngModelChange)="changeQuantity(product, product.quantity)"
              min="1"
            />
  
            <button
              pButton
              label="Eliminar"
              (click)="removeProduct(product.productId)"
            ></button>
          </div>
        }
      </div>

      <div class="cart-summary">
        <p>Total: {{ total | currency : "EUR" }}</p>
      </div>
    </div>
    }
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>
