<!-- NAV BAR -->
<app-nav></app-nav>


<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-24rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">- SOBRE NOSOTOS -</p>
</div>


<!-- ABOUT US (TEAM) -->
<div class="w-10 h-auto card-container m-auto mt-4">
    <div class="fila">
        <!-- Tarjeta 1 -->
        <div class="m-auto card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/iconoNosotros.png" alt="icono" width="50px" class="vertical-align-middle m-2">
                <span style="color: #4075A3;" class="font-bold">Rocío</span>
            </div>
            <p class="line-height-3 m-1 text-justify w-10">Mis fortalezas incluyen un fuerte sentido ético, autoconocimiento y empatía. Debo mejorar mi organización, cumplir mis límites de tiempo.</p>
        </div>
        <!-- Tarjeta 2 -->
        <div class="m-auto card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/iconoNosotros.png" alt="icono" width="50px" class="vertical-align-middle m-2">
                <span style="color: #4075A3;" class="font-bold">María</span>
            </div>
            <p class="line-height-3 m-1 text-justify w-10">Destaco por mi creatividad, confianza en mis capacidades, persistencia y sentido ético. Sin embargo, debo mejorar mi habilidad para asumir y enfrentar riesgos.</p>
        </div>
            <!-- Tarjeta 3 -->
        <div class="m-auto card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/iconoNosotros.png" alt="icono" width="50px" class="vertical-align-middle m-2">
                <span style="color: #4075A3;" class="font-bold">Miguel</span>
            </div>
            <p class="line-height-3 m-1 text-justify w-10">Mis principales fortalezas son mi alegría, capacidad de conversación sobre diversos temas. Sin embargo, tiendo a no pedir ayuda cuando la necesito y prefiero trabajar en solitario.</p>
        </div>
    </div>

    <div class="fila">
        <!-- Tarjeta 4 -->
        <div class="m-auto card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/iconoNosotros.png" alt="icono" width="50px" class="vertical-align-middle m-2">
                <span style="color: #4075A3;" class="font-bold">Agustín</span>
            </div>
            <p class="line-height-3 m-1 text-justify w-10">Me destaco por mi capacidad de comunicación clara y efectiva, así como por motivar a los demás y trabajar en equipo. Sin embargo, tiendo a ser impaciente con los procesos lentos.</p>
        </div>
            <!-- Tarjeta 5 -->
        <div class="m-auto card-advantage">
            <div class="text-2xl">
                <img src="aboutUsImages/iconoNosotros.png" alt="icono" width="50px" class="vertical-align-middle m-2">
                <span style="color: #4075A3;" class="font-bold">David</span>
            </div>
            <p class="line-height-3 m-1 text-justify w-10">Soy persistente, confío en mis capacidades, lo que me ayuda a alcanzar mis objetivos. Busco mejorar mi creatividad, organización y habilidades sociales para potenciar mi crecimiento personal y profesional.</p>
        </div>
    </div>
</div>


<!-- Mission, Vision and Values ​​of the companyMission -->
<div class="h-24rem d-flex w-full panel-down">
    <p class="m-auto line-height-4 text-4xl font-bold">Misión, Visión y Valores de la empresa.</p>
    <p class="m-auto line-height-4 font-bold">Somos una empresa dedicada a la venta de dispositivos electrónicos creados con el fin
        de ayudar a personas con discapacidades comunicativas.
        Nosotros mismos creamos los dispositivos y los vendemos de manera física y online a personas físicas, 
        asociaciones y otras entidades.</p>
   
</div>


<app-footer></app-footer>


