/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body {
    /* background-color: red; */
    margin: 0;
    font: inherit;
}

:root {
    --primary-color: #305AA8; 
    --secondary-color: #7461C7;
    --primary-color-dark: #2A345D;
    /* --font-family: 'Helvetica Neue' !important; */
}