<!-- NAV BAR -->
<app-nav></app-nav>

<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-12rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">
        - MI PERFIL -
    </p>
</div>

<!-- PROFILE CONTAINER -->
<div class="profile-container p-6 w-full max-w-4xl mx-auto bg-white shadow-2 border-round">
    <!-- User Info -->
    <div class="profile-info grid grid-nogutter align-items-center">
        <div class="col-3 text-left font-bold">Nombre:</div>
        <div class="col-7">
            <input type="text" [value]="user?.name" class="w-full" [readonly]="!isEditing">
        </div>

        <div class="col-3 text-left font-bold">Correo:</div>
        <div class="col-7">
            <input type="text" [value]="user?.email" class="w-full" [readonly]="!isEditing">
        </div>

        <div class="col-3 text-left font-bold">Rol:</div>
        <div class="col-7">
            <input type="text" [value]="user?.role" class="w-full" [readonly]="!isEditing">
        </div>

        <div class="col-3 text-left font-bold">Dirección:</div>
        <div class="col-7">
            <input type="text" [value]="user?.address" class="w-full" [readonly]="!isEditing">
        </div>

        <div class="col-3 text-left font-bold">Contraseña:</div>
        <div class="col-7">
            <input type="text" [value]="" class="w-full" [readonly]="!isEditing">
        </div>
        

    </div>


    <hr class="line-separator">

    <!-- ORDERS -->
    <div class="orders-container p-6 w-full max-w-4xl mx-auto bg-white shadow-2 border-round">
        <h2 class="text-2xl font-bold mb-4">Mis Pedidos</h2>
        <div class="orders-list">
             
        </div>
    </div>
</div>





<app-footer></app-footer>