<!-- NAV BAR -->
<app-nav></app-nav>

<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-12rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">
        - MI PERFIL -
    </p>
</div>

<!-- PROFILE CONTAINER -->
<div class="profile-container p-6 w-full max-w-4xl mx-auto bg-white shadow-2 border-round">
    <!-- User Info -->
    <div class="profile-info">
        <div class="profile-row">
            <div class="profile-label">Nombre:</div>
            <div class="profile-input">
                <input type="text" [value]="user?.name" [readonly]="!isEditing">
            </div>
        </div>
        <div class="profile-row">
            <div class="profile-label">Correo:</div>
            <div class="profile-input">
                <input type="text" [value]="user?.email" [readonly]="!isEditing">
            </div>
        </div>
        <div class="profile-row">
            <div class="profile-label">Rol:</div>
            <div class="profile-input">
                <input type="text" [value]="user?.role" [readonly]="!isEditing">
            </div>
        </div>
        <div class="profile-row">
            <div class="profile-label">Dirección:</div>
            <div class="profile-input">
                <input type="text" [value]="user?.address" [readonly]="!isEditing">
            </div>
        </div>
        <div class="profile-row">
            <div class="profile-label">Contraseña:</div>
            <div class="profile-input">
                <input type="text" [value]="" [readonly]="!isEditing">
            </div>
        </div>
    </div>



    <hr class="line-separator">

    <!-- PEDIDOS -->
    <div class="orders-container p-6 w-full max-w-4xl mx-auto bg-white shadow-2 border-round">
        <h2 class="text-2xl font-bold mb-4">Mis Pedidos</h2>
        <div class="orders-list">

            <div class="orders-container">
                @for (order of orders ; track order.id) {
                <div class="order">
                    <div class="order-header">
                        <span>Fecha del pedido: {{order.PaymentDate | date:'dd MMM YYYY HH:mm' | lowercase}} </span>
                    </div>
                    <table>
                        <tr>
                            <th>Imagen</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio unidad</th>
                        </tr>
                        @for (line of order.ProductsOrder; track $index) {
                        <tr>
                            <td> <img [src]="IMG_URL + line.Product.image"></td>
                            <td>{{line.Product.name}}</td>
                            <td>{{line.Quantity}}</td>
                            <td>{{line.PricePay/100}}</td>
                        </tr>
                        }
                    </table>
                    <div class="order-summary">
                        <span class="payment-method">Pagado con: {{ order.PaymentMethod }}</span>
                        <span class="total-price">Precio total: {{ order.TotalPrice/100}}€</span>
                    </div>
                </div>
                }
            </div>


        </div>
    </div>
</div>




<app-footer></app-footer>