<!-- NAV BAR -->
<app-nav></app-nav>

<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-12rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">
        - MI PERFIL -
    </p>
</div>

<!-- PROFILE CONTAINER -->
<div class="profile-container p-6 w-full max-w-4xl mx-auto bg-white shadow-2 border-round">
    <!-- User Info -->
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <div class="profile-row">
            <label for="name">Nombre:</label>
            <input type="text" [value]="user?.name" formControlName="name" [readonly]="!isEditing">
        </div>
        <div class="profile-row">
            <label for="email">Correo:</label>
            <input id="email" type="email" formControlName="email" [readonly]="!isEditing" [value]="user?.email" />
        </div>
        <div class="profile-row">
            <label for="role">Rol:</label>
            <input id="role" type="text" [value]="user?.role" readonly disabled/>
        </div>
        <div class="profile-row">
            <label for="address">Dirección:</label>
            <input id="address" type="text" formControlName="address" [readonly]="!isEditing" [value]="user?.address" />
        </div>
        <div class="profile-row">
            <label for="password">Contraseña:</label>
            <input id="password" type="password" formControlName="password" [readonly]="!isEditing" />
        </div>
        <div class="profile-row-buttons">
            <button type="button" class="btn btn-secondary" (click)="edit()">
                {{ isEditing? 'Cancelar edición' : 'Editar' }}
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="!isEditing || userForm.invalid">
                Guardar Cambios
            </button>
        </div>

    </form>



    <hr class="line-separator">

    <!-- PEDIDOS -->
    <div class="orders-container p-6 w-full max-w-4xl mx-auto bg-white shadow-2 border-round">
        <h2 class="text-2xl font-bold mb-4">Mis Pedidos</h2>
        <div class="orders-list">

            <div class="orders-container">
                @if (orders.length <=0 ) { <div>Todavía no ha realizado ningún pedido.</div>
            }
            @for (order of orders ; track order.id) {
            <div class="order">
                <div class="order-header">
                    <p><b>Pedido n.º {{order.id}}</b></p>
                    <span>Fecha del pedido: {{order.PaymentDate | date:'dd MMM YYYY HH:mm' | lowercase}} </span>
                </div>
                <table>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio unidad</th>
                    </tr>
                    @for (line of order.ProductsOrder; track $index) {
                    <tr (click)="navigateToProduct(line.productId)" class="product-link">
                        <td> <img [src]="IMG_URL + line.product.image"></td>
                        <td>{{line.product.name}}</td>
                        <td>{{line.quantity}}</td>
                        <td>{{line.pricePay/100}}€</td>
                    </tr>
                    }
                </table>
                <div class="order-summary">
                    <span class="payment-method">Método de pago: {{ order.PaymentMethod }}</span>
                    <span class="total-price">Precio total: {{ order.TotalPrice/100}}€</span>
                </div>
            </div>
            }
        </div>


    </div>
</div>
</div>




<app-footer></app-footer>