/* 1ยบ block */
.panel-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/foto-gratis/fondo-placa-base_23-2151733789.jpg?t=st=1729794199~exp=1729797799~hmac=b66faa72f5783a4ba35b83db8f2e033939890d227b5e901bfd1d319ab6580538&w=740");
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
    text-shadow: #12182e 0 0 1em;
    background-attachment: fixed;
}

.line-separator {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

fieldset {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    border: 1px solid #007acc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-row-buttons{
    float: inline-end;
}

legend{
    color: #004a8d;
    font-weight: bold;
    padding: 5px;
}

.profile-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    flex: 1;
    font-weight: bold;
    color: #004a8d;
    text-align: right;
    padding-right: 10px;
    position: relative;
}

label::after {
    position: absolute;
    right: 5px;
    color: #004a8d;
}


input {
    flex: 2;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    color: #004a8d;
    border: 1px solid #007acc;
    border-radius: 4px;
    background-color: white;
    transition: border-color 0.3s ease;
}

.profile-input input:focus {
    border-color: #004a8d;
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #6f4caf;
}

button {
    padding: 8px;
    border: 0px;
    background-color: #875fd1;
    color: white;
    border-radius: 30px;
    margin: 10px;
}

button.btn-edit{
    background-color: rgb(209, 0, 0);
}

h3 {
    color: #004a8d;
    margin: 2% 5%;
}

input:read-only{
    background-color:  #f0f8ff;
}

.container {
    margin: 5%;
}

table {
    border-collapse: collapse;
    width: 90%;
    text-align: left;
    margin: 20px;
}

tr,
td {
    padding: 10px;
}

th {
    background-color: #004a8d;
    color: white;
    padding: 10px;
}

table tr:nth-child(odd) {
    background: #e8fcff;
}

table tr:nth-child(even) {
    background: #f7f9ff;
}

table img{
    width: 50px;
}


.container div {
    margin: 5% 0%;
}

.order {
    margin: auto;
    padding: 2%;
    border: 1px solid gray;
    border-radius: 20px;
}

.total-price{
    float: right;
}

.product-link :hover {
    cursor : pointer;
}