<app-nav></app-nav>

<div>
    <h2>¡Pago realizado con éxito!</h2>
    <p>Gracias por tu compra. Tu pago ha sido procesado correctamente.</p>
</div>

<div class="order-info">
    <p>Identificador del pedido: {{id}}</p>
    <b>
        Detalles:
    </b>

    <p>Método de pago: {{order.PaymentMethod}}</p>
    <p>Fecha:  {{order.PaymentDate | date:'dd MMM YYYY HH:mm' | lowercase}}</p>
    @if (order.PaymentMethod == "blockchain") {
        <p>Total pagado: {{(order.TotalPrice/100)* 0.00029}}ETH</p>
    } @else {
        <p>Total pagado: {{order.TotalPrice/100}}€</p>
    }

    <p>Productos:
        <!--@for (product of products; track product.ProductId) {
            <ul>
                <li>{{product.Product.name}}</li>
                <li>Cantidad: {{product.Quantity}}</li>
                <li>Precio: {{product.Product.price/100}}</li>
            </ul>
        }-->
    </p>
</div>
<app-footer></app-footer>