/* 1º block */
.panel-top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/fotos-premium/mujer-recibio-paquete-despues-realizar-pedido-linea-tienda-internet_122732-4046.jpg?w=740");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
    text-shadow: #12182e 0 0 1em;
}

div{
    justify-items: center;
    text-align: center;
}

table, tr, td, th{
    border: 1px solid rgb(179, 179, 179);
    border-collapse: collapse;
}

td, th{
    padding: 10px;
}

table{
    margin: 20px auto;
}