<!-- NAV BAR -->
<app-nav></app-nav>

<!-- FIRST BLOCK WITH IMAGE AND SLOGAN -->
<div class="panel-top h-20rem d-flex w-full">
    <p class="m-auto text-white line-height-4 text-6xl uppercase font-bold">
        - Catálogo de productos -
    </p>
</div>

<div style="text-align: center; margin-top: 1%">
    <br />
    <form class="filter" (ngSubmit)="search()">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText [(ngModel)]="query" [ngModelOptions]="{standalone: true}" placeholder="Buscar producto" />
            <input type="submit" value="Buscar" class="p-button font-bold ml-2" />
        </span>
    </form>
    
    <!-- ordenar por nombre o precio-->
    <select [(ngModel)]="sortCriterio" (change)="onSortChange(sortCriterio)">
        <option [ngValue]=0>Ordenar por Nombre</option>
        <option [ngValue]=1>Ordenar por Precio</option>
    </select>

    <!-- ordenar asc o desc-->
    <select [(ngModel)]="sortOrder" (change)="onOrderChange(sortOrder)">
        <option [ngValue]="true">Ascendente</option>
        <option [ngValue]="false">Descendente</option>
    </select>
</div>

<!--
<div class="w-10 h-auto card-container m-auto mt-4 grid">
    <div class="m-auto h-20rem card-advantage">
        <img src="https://img.freepik.com/foto-gratis/pedestal-podio-azul-exhibicion-minima-producto-fondo-abstracto-ilustracion-3d-presentacion-escena-exhibicion-vacia-colocacion-producto_56104-1879.jpg?t=st=1730312818~exp=1730316418~hmac=9c08c741b8640d0e929dd06550456ca157d15a61b30beddfa05f47ee6d591cb6&w=1000"
            alt="Producto" />
        <div class="card-content">
            <h2>Producto</h2>
            <div class="card-data">
                <p>15€</p>
                <p>Stock</p>
                <p>Reseñas</p>
            </div>
        </div>
    </div>
</div>
-->



<div class="product-flex">
    @if (filteredProducts.length > 0) {
    @for (product of filteredProducts; track product.productId) {

    <div class="w-10 h-auto card-container m-auto mt-4">
        <div class="m-auto h-20rem card-advantage">

            <img [src]="IMG_URL + product.image">

            <div class="card-content">
                <h2>{{product.name}}</h2>

                <div class="card-data">
                    <p>{{product.price / 100}}€</p>

                    @if (product.stock > 0) {
                    <p style="color:darkgreen">Stock</p>
                    } @else {
                    <p style="color:darkred">Sin stock</p>
                    }
                    <p>😀</p>
                </div>
            </div>
        </div>
    </div>
    }
    @empty {
    <div>No hay resultados</div>
    }
    }
    @else {
    <div>Cargando...</div>
    }
</div>


<br>

<div class="card flex justify-content-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="(currentPage - 1) * pageSize" [rows]="pageSize"
        [totalRecords]="totalPages * pageSize"></p-paginator>

    <select [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)">
        <option [ngValue]="4">4</option>
        <option [ngValue]="8">8</option>
        <option [ngValue]="16">16</option>
    </select>
</div>

<br>

<!-- FOOTER -->
<app-footer></app-footer>