/* 1º block */
.panel-top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/fondo-tecnologico.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
    text-shadow: #12182e 0 0 1em;
}

/* Block with advantages  */
.card-container {
    gap: 10px;                        
    align-items: center;              
    padding: 10px;
    font-size: larger;
    vertical-align: middle;
}

/* Each advantage */
.card-advantage {
    display: flex; 
    flex-direction: column; 
    border-radius: 8%;
    width: 250px;
    height: 215px;
    box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden; 
}

/* Card content */
.card-content {
    background-color: #0341b4ac;
    flex-grow: 10; 
    text-align: center;
    padding: 5%;
}

.card-data{
    display: flex;
}

.card-content h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 90%;
    margin: 0px; 
    padding: 0px; 
} 
.card-content p {
    color: #ffffff;
    margin: 5%;
}

img{
    height: 215px;
}

.p-button{
    border: 0px;
    background-color: #6f42c1;
    color: white;
    border-radius: 30px;
}
.product-flex {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 1rem; 
    margin: 0px 30px;
}

.card-container {
    flex: 1 1 250px; 
    margin: 1rem; 
}

select{
    border: 1px solid #6f42c1;
    border-radius: 5px;
    margin: 10px 20px;
    font-size: medium;
    padding: 5px;
    color: #12182e;
}


/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .card-advantage {
        flex: 1 1 100%;              
    }
}               